*.log
*.nlo
*.out
*.pdf
*.aux
*.toc
*.snm
*.nav
*.blg
*.bbl
*.brf
*.ilg
*.ind
*.lof
*.lot
*.nls
*.xmp
*.zip
*.gz
*.bcf
*.run.xml
*.synctex
*.synctex.gz
*.fls
*.fdb_latexmk
*.thm
build/

oss_cad_suite/
open_source_fpga_environment/
Proyecto_2_build/
*.json
*.fs
